.jumbotron {
  background-color: #e2edff;
}
.container {
  background-color: #e2edff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.input-field {
  width: 300px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 10px;
}

.copy-button {
  padding: 10px 20px;
  border: 1px solid #718ca8;
  background-color: #0051ff;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.copy-button i {
  margin-right: 5px;
}

#copiedText {
  margin-top: 10px;
  font-weight: bold;
  color: green;
}
