html {
  position: relative;
  min-height: 100%;
}
body {
  min-height: 2000px;
}

.jumbotron {
  background-color: #e2edff;
}

#projects {
  background-color: #ffff;
}

#sponsor {
  background-color: #e2edff;
}
